
node_modules/          # 依赖包（体积大，无需上传）
config/                # webpack配置（仅开发用）
mock/                  # 模拟数据（仅开发用）
npm-debug.log*         # 日志文件
yarn-debug.log*
.idea/                 # 编辑器配置
.vscode/
*.swp
*.swo
dist/                  # 构建产物